body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#homebanner {
  height: 50%;
  background-image: url("https://image.shutterstock.com/z/stock-photo-back-to-school-concept-top-view-banner-of-school-bus-and-pencils-next-to-tree-sketch-with-autumn-1118336468.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#cellestobanner {
    background-image: url("https://image.shutterstock.com/image-vector/flat-design-style-web-banner-600w-734948962.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

}

#cellestotagline {
  height: 75px;
  align-items: center;
  border-radius: 50px;
}